# Compiled Python bytecode
__pycache__/
.PowerFolder/
desktop.ini

# pytest cache
.pytest_cache/

# IDE settings and workspace configurations
.idea/
*.ipynb_checkpoints/

# Log files and error logs
/logs/
/error-logs/
*.log
venv/

# Data files and directories
/data/manhattan*
/data/YellowTripDataManhattan2015-01
*.json
*.xml
*.parquet
*.xlsx

# Compiled data and binaries
/build/
*.pyc
*.tar
*.tar.gz
*.zip
*.rar

# Image files
*.png
*.jpeg
*.svg

# Document files
*.html
*.tex
*.pdf
*.pdf_tex

# Miscellaneous files
*.mps
*.sol
*.p
*.lp
*.ilp
